<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Our Amazing Site</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css" integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK" crossorigin="anonymous" />
  </head>
  <body>
    <div class="container py-5">
      <h1>About Us</h1>
      <div class="row">
        <div class="col"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In cupiditate temporibus et at, culpa veritatis debitis quaerat recusandae dicta dolore nisi laudantium omnis accusantium enim dignissimos, sunt possimus. Minima, a!</p></div>
        <div class="col"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi repudiandae dignissimos recusandae a vel aut ducimus, architecto blanditiis, aliquam ex id nemo laudantium, similique quasi eaque! Optio reprehenderit harum iure.</p></div>
      </div>
      <a href="/" class="btn btn-primary">Back to home</a>
    </div>
  </body>
</html>
