<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Our Amazing Site</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css" integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK" crossorigin="anonymous" />
  </head>
  <body>
    <div class="container py-5">
      <h1>Welcome To Our Homepage</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni culpa repellat fuga? Illum totam corporis, ut non quod consectetur, officia laudantium repellat nostrum magni, minima obcaecati? Et dolor repellat omnis.</p>
      <a href="/about" class="btn btn-primary">Visit About Page</a>
    </div>
  </body>
</html>
